﻿@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Rastreio.web</h1>
    <p class="lead">Bem-vindo ao módulo de Consulta de Entregas GCM Cargo.</p>
    <p>Clique @Html.ActionLink("aqui", "Listar", "Conhecimentos") para listar.</p>
</div>
