﻿@model IEnumerable<Entregas.Web.UI.Models.ConhecimentoStatusViewModel>

@{
    ViewBag.Title = "Conhecimentos por Status";
}

<h4>@ViewBag.Title</h4>

<style>
    .table {
        font-size: smaller;
        margin-top: 15px;
    }
</style>

<table class="table">
    <tr class="linha-destaque">
        <th>
            @Html.DisplayNameFor(model => model.Numero)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Data)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NomeCliente)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Destinatario)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Cidade)
        </th>
        <th class="text-center">
            @Html.DisplayNameFor(model => model.Estado)
        </th>
        <th class="text-center">
            @Html.DisplayNameFor(model => model.Notas)
        </th>
        <th class="text-center">
            @Html.DisplayNameFor(model => model.Status)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NomeRecebedor)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DataEntrega)
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Numero)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Data)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NomeCliente)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Destinatario)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cidade)
            </td>
            <td class="text-center">
                @Html.DisplayFor(modelItem => item.Estado)
            </td>
            <td class="text-center">
                @Html.DisplayFor(modelItem => item.Notas)
            </td>
            <td class="text-center">
                @Html.DisplayFor(modelItem => item.StatusDescricao)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NomeRecebedor)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DataEntrega)
            </td>            
        </tr>
    }
</table>