﻿@model Entregas.Web.UI.Models.DatasViewModel

@{
    ViewBag.Title = "Listar Conhecimentos por Status";
}

@section styles {
    <link rel="stylesheet" href="~/Content/jQueryUI/jquery-ui.min.css" />
}

<h4>@ViewBag.Title</h4>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.DataInicial, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.DataInicial,
                    new { htmlAttributes = new { @class = "form-control datepicker" } })
                @Html.ValidationMessageFor(model => model.DataInicial, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.DataFinal, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.DataFinal,
                    new { htmlAttributes = new { @class = "form-control datepicker" } })
                @Html.ValidationMessageFor(model => model.DataFinal, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Listar" class="btn btn-default" />
            </div>
        </div>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/globalize")
    <script src="~/Scripts/globalize/locales/locale-pt.js"></script>
    
    <script>
        loadGlobalize({ dates: true });
    </script>

    @Scripts.Render("~/bundles/jqueryval-globalize", "~/bundles/jquery-ui")

    <script>
        $(function () {
            $('.datepicker').datepicker({
                showOtherMonths: true,
                selectOtherMonths: true
            });
        })
    </script>
}